body{
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
.header{
    background-image: url('../images2/header-bg.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100%;
}
.container{
    width: 90%;
    margin: auto;
}
.left-area{
    width: 45%;
    float: left;
    margin-left: 70px;
    margin-top:280px;
}
.left-area h2{
    font-size: 40px;
}
.left-area h1{
    font-size: 50px;
    color: blueviolet;
}
.left-area p{
    color: grey;
    width:550px;
    margin-bottom: 30px;
}
.left-area a{
    text-decoration: none;
    background: linear-gradient(45deg, red, blue);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 100px;
}
.right-area{
    width: 45%;
    float: left;
    margin-top:120px;
    margin-bottom: 100px;
}
.right-area img{
    width: 500px;
}
/*end header section*/
/*start middle section*/
body{
    margin: 0;
    padding: 0;
}
.middle{
    background-image: url('../images2/biography-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    padding: 50px;
}
.container{
    width:90%;
    margin:auto;
}
.left-area2{
    width: 50%;
    float: left;
}
.right-area2{
    width: 50%;
    float: left;
    margin-top: 80px;
}
.left-area2 img{
    width: 400px;
   margin-bottom: 100px;
}
.right-area2 p{
    color: grey;
    margin-bottom: 30px;
}
.right-area2 a{
    text-decoration: none;
    background: linear-gradient(45deg, red, blue);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 100px;
}
/*end middle section*/

/*start workfprotfolio section*/
body{
    margin: 0;
    padding: 0;
}
.workshowoff{
    background-image: url('../images2/latest-work-bg.png');
    background-size: 100%;
    padding: 100px;
    overflow: hidden;
}
.container{
    width: 90%;
    margin: auto;
}
.workshowoff h2{
    font-size: 40px;
    text-align: center;
}
.workshowoff img{
    width: 25%;
    margin-top: 40px;
    margin-right: 25px;
    margin-left: 52px;
    box-shadow: 1px 1px 15px rgba(142, 68, 173,1.0);
}
/*end workfprotfolio section*/

/*start footer section*/
body{
    margin:0;
    padding: 0;
}
.footer{
    overflow: hidden;
    background-image: url('../images2/footer-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;  
}
.container{
    width: 90%;
    margin: auto;
}
.client-footer,
.brunce-footer,
.founder-footer,
.lorem-footer,
.gmail-footer{
    text-align: center;
}
.client-footer h2{
    font-size: 40px;
    margin-top: 50px;
}
.lorem-footer{
    width: 45%;
    margin-top: 100px;
    margin-left: 330px;
    font-weight: bold;
}
.brunce-footer h5{
    margin-top: 100px;
}
.founder-footer{
    color: grey;
}
.gmail-footer p{
    text-align: center;
}
.gmail-footer{
    width: 60%;
    text-decoration: none;
    background: linear-gradient(135deg, orange, orange 60%, cyan);
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 18%;
    margin-bottom: 300px;
}
.gmail-footer a{
    color: black;
    text-decoration: none;
}
/*end footer section*/
/*strat last section*/
.last p{
    text-align: center;
    color: grey;    
}
/*end last section*/
